@{
    ViewBag.Title = "Прошедшие игры";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
    <h2>Прошедшие игры</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Первая Комманда</th>
                <th>Вторая комманда</th>
                <th>Результат Игры</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in ViewBag.Matches)
            {
                <tr>
                    <td><p>@m.firstTeam.name</p></td>
                    <td><p>@m.secondTeam.name</p></td>
                    <td><p>@ViewBag.ResultsEncoder[m.realResult]</p></td>
                    <td>
                        @Html.ActionLink("Сделать ставку", "MakeRate", new { id = m.id }) |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

