@model IEnumerable<TotalizatorMVC.Models.Match>
@{
    ViewBag.Title = "Редактирование матчей";
}
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Добавить", "CreateMatch", "Games", new { })
</p>
<table class="table">
    <tr>
        <th>Матч</th>
        <th>Результат Игры</th>
        <th>Действие</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstTeam.Name) - @Html.DisplayFor(modelItem => item.SecondTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.ActionLink("Изменить", "EditMatch", "Games", new { id = item.Id },
            new { @class = "viewDialog", data_dialog_title = "Редактирование матча" })
            </td>
        </tr>
    }

</table>
